<h1>{{nomeDoFormulario}}</h1>

<div>
  <label for="id">ID:</label><br>
  <input type="text" [(ngModel)]="cliente.Id" appHighLight>
</div>
<br><br>
<div>
  <label for="nome">Nome:</label><br>
  <input type="text" [(ngModel)]="cliente.Nome" appHighLight>
</div>
<br>
<button [name]="nomeDoBotaoSalvar" (click)="onSubmit()">Salvar</button>
<br><br><br>
Cliente: <br>
{{cliente | json}}

<br><br><br><br>

<form #form="ngForm" (onSubmit)="onSubmit2(form)" novalidate>
  <input type="text" name="nome" #nome="ngModel" ngModel required>
  <input type="submit" value="Salvar formulário">
</form>


