.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background: #1d1e20;
  padding: 20px;
}


.menu {
  display: flex;
}

.menu li {
  margin-left: 20px;
}

.menu li a {
  display: block;
  padding: 10px;
}
