/* You can add global styles to this file, and also import other style files */
body {
  margin: 0px;
  padding: 0px;
  list-style: none;
  font-size: 1.2rem;
  font-family: Arial;
}

a {
  text-decoration: none;
  color: white;
}

h1 {
  text-align: center;
  margin-top: 100px;
}

img {
  max-width: 100%;
  display: block;
  border-radius: 8px;
}

img:hover{
  cursor: pointer;
  opacity: 0.6;
}
